button {
	color: var(--secondary-tint);
	letter-spacing: 0.1rem;
	font-weight: bold;
	padding: 1rem 1.5rem;
	border-radius: 1rem;
	border: 0.2rem solid var(--grey-tint);
	margin: 1rem;
	background-color: var(--secondary-base);
}

button:hover {
	background-color: var(--secondary-tint);
	color: var(--grey-shade);
}

button:active {
	background-color: var(--gray-base);
}