POSTGRES_USER=Database_username
POSTGRES_PASSWORD=Database_password
POSTGRES_DB=Database_name
email=yourEmail #Email which you want to send a mail(when user successfully login).
mail_password=Mail_password #A password for mail see application.yaml for how to create one.