.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: var(--grey-base);
    border-width: var(--test-sm);
    margin: 10% 30%;
    border-radius: 10%;
    background-color: var(--secondary-tint);
}

.formContainer h1 {
    font-size: var(--text-h2);
    margin-bottom: 10%;
}

.formContainer form {
    max-width: 50%;
    margin: auto;
}

.fieldContainer {
    max-width: 50%;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}