
:root {
  /* FONT SIZE */
  --test-sm: 1.2rem;
  --text-md: 1.6rem;
  --text-pera: 2.0rem;
  --text-h5: 2.4rem;
  --text-h4: 3.2rem;
  --text-h3: 4.0rem;
  --text-h2: 4.8rem;
  --text-h1: 6.2rem;

  /* COLORS */
  --primary-base: #cc5de8;;
  --primary-tint: #e599f7;
  --primary-shade: #862e9c;

  --secondary-base: #f06595;
  --secondary-tint: #fff0f6;
  --secondary-shade: #a61e4d;

  --third-base: #3bc9db;
  --third-tint: #e3fafc;
  --third-shade: #0c8599;

  --grey-base: #868e96;
  --grey-tint: #f1f3f5;
  --grey-shade: #212529;
}

html{
  /* 10px / 16px = 62.5% */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}