spring:
  application:
    name: Backend
  datasource:
    url: jdbc:postgresql://localhost:5432/${DC_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL}
    #How To generate password
    # 1. Go to your Google Account Settings, 2. Search for App password, 3. Give a name for app then click generate
    # 4. A 16-character code will be generated copy and paste here.
    password: ${YOUR_GMAIL_APP_PASSWORD_HERE}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true




